<div class="container">
<h6 class="text-info">
Welcome, <%= @seller.name %>
</h6>

<h5>product List:</h5>
<%= render @seller.products %>
<% if @seller.name != current_seller.name %>
     
<%else%>
<h6>Add a products:</h6>
<%= render 'products/form', product:@seller.products.build%>
<%end%> 
<%= link_to "All Products", seller_products_path(@seller), class:"btn", style:"background-color: #008ecc;"%>
</div>
