<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Report!</h4>
    <p>
      Hi ,
      The Sold Product Report from ShoppingApp With all Our Supplier.
      <%= @s %> -> <%= @report %>
    </p>
  </body>
</html>