#cartinfo{
    height:120px;
    width:220px
}

#cartreduce{
    width: 35px;
}

#cartquantity{
    width: 25px;
}

#cartadd{
    width: 50px;
}

#cartprice{
    width: 80px;
}

#orderinfo{
    height:120px; 
    width:140px;
}

#ordercard{
    width: 28rem;
}