.bg-color{
  background-color: #f6f6f7;
}

.bt-color{
    background-color: #008ecc;
}

.form-style{
  width: 550px;
}

.card-info{
   width: 38rem;
}

#carduser{
  width: 26rem;
}
#imagepartial {
  height:100px;
  width:150px;
}

#videopartial{
  height:100px;
  width:150px;
}

#imageinfo{
  height:150px; 
  width:200px;
}

#videoinfo{
  height:180px;
   width:355px;
}

#card-info{
  border-radius: 5px;
  width: 100%
}

